<html>
    <head>
        <title>My First Page</title>
    </head>
    <body>
        <h1>Welcome to <br>Pranjal Management Services</h1>
        <hr>
        <form>
               Name:<input type="text" name="t1" size="15"/><br>
               Password:<input type="password" name="t2" size="15"/><br>
               Address:
                <select name="t3">
                        <option value="-1">--select--</option>
                        <option value="java">Java</option>
                        <option value="py">Python</option>
                        <option value="cpp">C</option>
                        <option value="c">C++</option>
                </select><br>
                Gender:
                    <input type="radio" name="r1" value="M"/>Male
                    <input type="radio" name="r1" value="F"/>Female<br>
                Languages:
                    <input type="checkbox" name="c1" value="C"/>C
                    <input type="checkbox" name="c2" value="C++"/>C++
                    <input type="checkbox" name="c3" value="java"/>Java
                    <input type="checkbox" name="c4" value="py"/>Python
                    <br>
                Address:<textarea name="t4" rows="5" cols="10"></textarea><br>
                <input type="button" name="b1" value="Click"/>
                <input type="reset"  name="b2" value="Cancel"/>
                <input type="submit" name="b3" value="Save"/><br>
                <a href="http://www.google.com">Google</a><br>
                <table width="50%" border="1">
                    <tr>
                        <th>I</th>
                        <th>II</th>
                    </tr>
                    <tr>
                        <td rowspan="2">One</td>
                        <td>Two</td>
                    </tr>
                    <tr>
                        <td>Three</td>
                    </tr>
                </table>
          
                
        </form>
        <p align="left">This is paragrpah1</p>
        <p align="center">This is paragrpah1</p>
        <p align="right">This is paragrpah1</p>

        <ol type="A" start="5">
            <li>Apple</li>
            <li>Banana</li>
            <li>Mango</li>
            <li>Grapes</li>
        </ol>
        <ul type="square">
            <li>Apple</li>
            <li>Banana</li>
            <li>Mango</li>
            <li>Grapes</li>
        </ul>
        <dl>
            <dt>Zoology</dt>
            <dd>The study of animals</dd>
        </dl>
        <dl>
            <dt>Botany</dt>
            <dd>The study of plants</dd>
        </dl>
    </body>
</html>